@import "tailwindcss";
@import "./theme.css";

::-webkit-scrollbar {
    background: black;
    width: 10px
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #004fb5;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}