@import "tailwindcss";

@theme {
    --animate-glow: glow 4s ease-in-out infinite;

    @keyframes glow {
        0% {
            box-shadow:
                0 0 70px #005993;
        }

        50% {
            box-shadow:
                0 0 100px #005993;
        }

        100% {
            box-shadow:
                0 0 70px #005993;
        }
    }
}