---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="w-screen h-screen flex items-center justify-center text-center bg-zinc-800 text-white"
  >
    <p class="text-3xl ml-5 mr-5">
      Do you ever look up to the sky and think about how many stars, planets and
      objects you can find up there?<br />
      Yet the outer space is full of emptiness.<br />
      So is this website.<br />
      - Zakk
    </p>
  </div>
</Layout>
