---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="w-screen h-screen flex items-center justify-center text-center bg-zinc-800 text-white">
    <p class="text-3xl">
      Website under construction, I apologize for the inconvenience.<br />
      - Zakk
    </p>
  </div>
</Layout>

