---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-linear-to-br from-[#1a1a1a] to-[#333] min-h-screen">
    <div
      class="w-full h-fit flex flex-col bg-[url(../images/image3.png)] justify-center items-center text-center"
    >
      <div class="flex flex-col items-center gap-4 py-10">
        <p
          class="bg-linear-to-r from-green-300 to-cyan-400 bg-clip-text text-4xl md:text-6xl font-extrabold text-transparent drop-shadow-lg font-mono tracking-tight"
        >
          ~> Computer Science
        </p>

        <div
          class="bg-black/70 text-green-400 font-mono p-4 rounded-lg shadow-xl w-[90%] max-w-xl text-left animate-pulse-slow"
        >
          <p class="text-sm">~> whoami</p>
          <p class="text-sm">→ full-stack dev</p>
          <p class="text-sm">~></p>
          <p class="text-sm">~> cat current_stack.json</p>
          <p class="text-sm overflow-x-auto text-wrap">
            {"{"}<br /><br />
            {
              '"Frontend": ["Astro", "React", "JS", "CSS", "Tailwind", "HTML"],'
            }<br /><br />
            {
              '"Backend": ["PHP", "SQL", "Supabase", "PostgreSQL", "Firebase"],'
            }<br /><br />
            {
              '"Othe Languages": ["Python", "Java", "C#", "C++", "Kotlin Android", "Java Android"],'
            }<br /><br />
            {'"Low Level": ["C", "Bash", "Shell"],'}<br /><br />
            {
              '"Technologies": ["Next", "Node", "npm", "Vite", "Git/GitHub"],'
            }<br /><br />
            {'"Misc": ["R"],'}<br /><br />
            {"}"}
          </p>
        </div>
      </div>

      <div
        class="w-full text-lg leading-relaxed space-y-6 p-8 text-gray-200 max-w-4xl"
      >
        <hr class="border-gray-600" />

        <div class="font-mono text-sm text-green-300 mb-2">
          //~> cat childhood.cpp
        </div>
        <p>
          My passion for computers began around the first few years of
          elementary school. My father and I took apart my uncle's old
          PlayStation that wasn't working anymore and tried to fix it. He
          briefly explained to me the components: the green motherboard, strange
          cylinders, and little cube-like chips. It was almost love at first
          sight. But it wasn’t until high school that everything changed — when
          I discovered <span class="text-green-400">Anonymous</span>.
        </p>

        <div class="font-mono text-sm text-green-300 mb-2">
          //~> cat discovery_of_cybersecurity.js
        </div>

        <p>
          Like many kids fascinated by computers, my first dream was to sit in
          front of multiple monitors with green terminal text, hacking NASA.
          Reading about the operations Anonymous carried out against extremist
          groups made me fall in love with the idea of using tech for good.
        </p>

        <div class="font-mono text-sm text-green-300 mb-2">
          //~> cat onion_network.py
        </div>
        <p>
          I discovered their news channels and entered my first ONION-network
          forums. I started studying malware logic, computer vulnerabilities,
          and cybersecurity. In my freshman year of high school, a friend and I
          began exploring Kali Linux, CTF basics, and common server
          vulnerabilities like SQL injection. We even solved some Jeopardy-style
          CTFs. We had studied everything from various onion sites like Imperial
          Library, Z-Library or DefCon onion site. Thanks to these experiences,
          I understood the greatness and splendor of information technology and
          the internet. Freedom of information and privacy have become my key
          goals. All my personal projects are completely open source (even if
          they're not particularly useful or important), but somehow I like to
          think I'm doing my part in making every possible piece of useful
          information completely free and easy to access.
        </p>

        <div class="font-mono text-sm text-green-300 mb-2">
          //~> cat online_activism.java
        </div>
        <p>
          Guided by these principles, over the next few years, this friend of
          mine and I attempted to collaborate with several online activist
          groups, carrying out small-scale DDoS attacks and hacking attempts on
          various sites hosting illegal material. Some were even successful.
          After the outbreak of the war in Ukraine, we wanted to make our small
          contribution to disseminating information by translating into Italian
          and publicly uploading the conversations, personal information, email
          accounts, and onion accounts of the Russian hacker group Wizard
          Spider, known for the Conti ransomware.
        </p>

        <div class="font-mono text-sm text-green-300 mb-2">
          //~> cat languages_and_growth.cs
        </div>
        <p>
          I began coding in Python — mostly for payloads — but never truly
          enjoyed it. Over time I fell in love with JavaScript and web
          development, building websites for school competitions. I later moved
          to C++, then C#, creating countless projects (sadly lost today).
        </p>

        <p>
          During school I finally studied Java in depth, which became one of my
          favorite languages. Later, I transitioned into full‑stack development
          with JS, PHP, JQuery, HTML, CSS, and SQL, designing dynamic
          backend-driven websites.
        </p>

        <div class="font-mono text-sm text-green-300 mb-2">
          //~> cat university.astro
        </div>
        <p>
          During my university years, I had the opportunity to study C in depth,
          ZSH and Bash scripting, and to improve my web development skills. I
          started studying React, Vite, Angular, Astro, etc., etc., and the
          related messages.
        </p>

        <div class="font-mono text-sm text-green-300 mb-2">
          //~> cat unico.ts
        </div>
        <p>
          One of the largest projects I've ever worked with my friends on was UNICO. The idea
          was to implement an AI management system in companies, managed by our
          fine-tuned model based on BERT. This project gave me a wealth of
          experience and gave me the opportunity to enter the world of IT
          companies for the first time, introducing me to various IT companies
          in our region. Unfortunately, due to university and personal reasons,
          this project was temporarily shelved, as we had reached a point where
          we needed to start "selling" the product and presenting ourselves to
          companies. This was quite difficult for a group made up entirely of IT
          professionals with no sales background.
        </p>
        <hr class="border-gray-600" />
      </div>
    </div>
  </div>
</Layout>
