---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="">
    <div class="flex flex-col items-center gap-2">
      <p class="text-5xl font-bold tracking-wide flex items-center gap-3">
        Coding
      </p>
    </div>
    <div class="">
        <p>My passion for computers began around the first few years of elementary school. My father and I took apart my uncle's old PlayStation that wasn't working anymore, and we tried to fix it. He briefly explained to me what that huge green plate was, those strange cylinders, and those cubes that looked like Manhattan-style buildings. It was almost love at first sight, but I never pursued this passion until my junior year of high school.
That is, until I discovered Anonymous. Of course, the first dream of a kid who discovers computers is to have lots of screens with green writing and a huge ASCII map of the entire world, and to hack NASA.
I read some news about Anonymous and the actions they were taking against the extremist groups of the time, and I fell in love with this way of using computers for good.
I learned about the various news channels they managed, thus discovering my first information and journalism forums on the ONION network.
Study how various computer viruses work, studying the logic behind them and studying computer vulnerabilities.
Years later, in my freshman year of high school, a friend of mine and I began studying the basics of computer security, cybersecurity operating systems like Kali, and CTFs.
In less than a summer, we had managed to study the first server-based vulnerabilities, like classic SQL injections, and even solved a few small CTF Jeopardy challenges.
Then I started programming using Python to create some payloads and things like that.
But to be honest, I never really enjoyed it as a language.
Over time, I fell in love with JavaScript and web development, even starting to develop a few websites for my high school for the various competitions they entered.
I then switched to C++, which I haven't used for many years now.
At the time, I replaced it with C#, which I enjoyed creating countless projects of all kinds, which I eventually lost. :(
From C#, I moved on to a full-stack web development program with JS, PHP, JQuery, HTML, CSS, and SQL, designing many dynamic backend sites for fun.</p>
    </div>
  </div>
</Layout>
