---
const { title, bands, style } = Astro.props;
---

<div
  class={`rounded-xl w-full shadow-[0px_4px_51px_8px_#ffcd33] ${style}`}
>
  <div class="backdrop-blur-3xl rounded-xl w-full h-full p-5 text-wrap">
    <p class="text-3xl opacity-90 italic text-center pb-5">{title}</p>
    {bands.map((band: string) => <p class="text-center text-xl">{band}</p>)}
  </div>
</div>
