---
const { title, bands, style } = Astro.props;
---

<div
  class={`rounded-xl w-full shadow-[inset_0_-2px_4px_rgba(0,0,0,0.6)] ${style}`}
>
  <div class="backdrop-blur-3xl rounded-xl w-full h-full p-5">
    <p class="text-xl opacity-90 italic text-center pb-5">{title}</p>
    {bands.map((band: string) => <p class="text-center">{band}</p>)}
  </div>
</div>
