<div
  class="flex flex-row w-full justify-between z-50 fixed p-3 bg-black/50 shadow-lg shadow-blue-800/50 text-white"
>
  <div class="text-left">
    <img
      class="w-1/10"
      src="https://avatars.githubusercontent.com/u/114474294?v=4"
    />
  </div>
  <div class="text-right w-full flex flex-row justify-around">
    <a href="#about">Who Am I</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Links</a>
  </div>
</div>
