---
const { label, desc, link } = Astro.props;
---

<div class="w-full md:w-1/2 flex flex-row m-2 p-5 content-center mx-auto">
  <a
    href={link}
    target="_blank"
    class="group relative block overflow-hidden rounded-2xl
    border-2 border-white/10 
    bg-linear-to-br from-[#030b3a]/60 to-[#0a1a4f]/60
    backdrop-blur-2xl p-6
    shadow-[0_0_25px_rgba(80,120,255,0.25)]
    hover:shadow-[0_0_40px_rgba(120,160,255,0.55)]
    transition-all duration-500
    hover:-translate-y-1"
  >
    <div
      class="absolute inset-0 rounded-2xl opacity-0 blur-3xl transition-opacity duration-500
      group-hover:opacity-60
      bg-linear-to-r from-[#4c2aff] via-[#1e88ff] to-[#00eaff]"
    >
    </div>

    <h2
      class="relative mt-5 text-3xl font-extrabold
      text-transparent bg-clip-text 
      bg-linear-to-r from-[#7aa4ff] via-[#b0d4ff] to-[#dff8ff]
      tracking-wide transition-all duration-300
      group-hover:tracking-wider group-hover:blur-[0.3px]"
    >
      {label}
    </h2>

    <p
      class="relative mt-1 text-sm
      text-blue-200/90 group-hover:text-cyan-100 transition-colors"
    >
      {desc}
    </p>

    <div
      class="pointer-events-none absolute inset-0 opacity-20
      bg-[linear-gradient(to_bottom,rgba(255,255,255,0.08)_1px,transparent_1px)]
      bg-size-[100%_4px]"
    >
    </div>
  </a>
</div>
